rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    function isAuthenticated(){
      return request.auth != null;
    }

    match /stores/{storeId} {
      allow read: isAuthenticated();
      allow write: isAdmin();
    }

    match /products/{productId} {
      allow read: isAuthenticated();
      allow write: isAdmin();
    }

    match /orders/{orderId} {
      allow read: isAuthenticated();
      allow write: isAuthenticated();
      allow create: isAuthenticated();
      allow update: isAuthenticated();
      allow delete: isAdmin();
    }

    match /categories/{categoryId} {
      allow read: isAdmin();
      allow write: isAdmin();
    }
  }
}
